.container{
		  margin : 0;
		  width : 100%
	  }
	  .orange {
		  background-color: #f2913d;
	      padding: 10px;
		  margin-left: 5px;
		
	  }
	  .purple1 {
		  background-color: #bf0b4d;
		  padding: 10px;
	  }
	  .purple {
		  background-color: #f20f62;
		  padding: 10px;
	  }
	  .blue {
		 
		  background-color: #05f2f2;
		  padding: 10px;
	  
	  }
	  .brown {
		 
		  background-color: #f2913d;
		  padding: 10px;
	  }
	  .yellow {
		  background-color: #f2d338;
		    padding: 10px;
		  height : 100%;
	  }
	  .row{
		  width : 800px;
		  margin-top: 10px;
	  }
	  